<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GL Bank</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
<header>
    <div id="mainHeader"></div>
</header>
<div id="loginForm">
    <p id="nadpis">Sign in</p>
    <form action="/login" method="post" id="registrate">
        <input name="name" type="text" placeholder="Username"><br>
        <input name="pass" type="password" placeholder="Password"><br>
        <input type="submit" value="Confirm">
    </form>
</div>
</body>
</html>