<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GL Bank</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='userinfo.css') }}">
</head>
<body >
<header>
    <div id="mainHeader">
        <div id="btnHome">Home</div>
        <div id="btnAccounts">Accounts</div>
        <div id="btnLogout">Log out</div>
    </div>
</header>

<div id="mainDiv">
    <div id="firstDiv">
        <div id="firstSmallDiv">
            <p>Poslalo</p>
        </div>
        <div id="secondSmallDiv"></div>
    </div>
    <div id="secondDiv"></div>
</div>
</body>
</html>