#mainHeader{
    background-color:  #ff7f35;
    width: 100%;
    height: 70px;
    display:flex;
    align-self:flex-start;
    justify-content: space-between;
    align-items: center;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.left,.right{
  height:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

#btnHome,#btnAccounts,#btnLogout,.forAccIcon {
  width:5em;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  color:white;
}

#btnLogout{
  color: white;
  background-color: chocolate;
}

.forAccIcon {
background:url(iconLogout.svg) center / contain no-repeat;
background-size:50px 50px;
}

.logoutWrapper {

height:100%;
width:10em;
background:blue;
float:right;

}

#mainDiv, #containerAccounts{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 525px;
    margin-top: 3.5%;
    margin-bottom: 5%;
    border-color: black;
    border-width: 1px;
    padding-left: 4%;
}

#firstDiv{
    width: 44%;
    display: block;
    float: left;
    height: 525px;
}

#secondDiv{
    width: 44%;
    margin-left: 47%;
    background-color: white;
    height: 525px;
}

#firstSmallDiv{
    width: 100%;
    display: block;
    background-color: white;
    height:200px;
    float: left;
}

#secondSmallDiv{
  width: 100%;
  background-color: white;
  height:300px;
  margin-top: 4%;
  float: left;
}

#lblName{
  width: 90%;
  height: 35px;
  float: left;
  color: #939393;
  font-size: 20px;
  margin-left: 5%;
  margin-top: 1%;
}

#lblAccNum{
  width: 90%;
  height: 30px;
  float: left;
  color: #939393;
  font-size: 20px;
  padding-left: 5%;
}

#divTrans, #credentials, #incExp{
  width: 100%;
  height: 80px;
  background-color: #eae9e8;
}

#lblInc{
  width: 100%;
  height: 35px;
  float: left;
  color: #8ed18e;
  font-size: 20px;
  padding-left: 5%;
  margin-top: 2%;
}

#lblExp{
  width: 100%;
  height: 30px;
  float: left;
  color: #f48484;
  font-size: 20px;
  padding-left: 5%;
}

#lblTrans{
  width: 100%;
  height: 50px;
  float: left;
  color: #939393;
  font-size: 25px;
  padding-left: 5%;
  margin-top: 4%;
}

#lblBal{
  width: 70%;
  height: 20px;
  float: left;
  color: #939393;
  font-size: 20px;
  padding-left: 5%;
  margin-top: 5.5%;
}

#payment{
  width: 13%;
  height: 15%;
  border-color: #ff7f35;
  float: right;
  border-style: solid;
  margin-top: 9.5%;
  color: #ff7f35;
  font-size: 20px;
  padding-top: 3px;
  padding-left: 3%;
}

#ownerFname{
  color: #6d6c6c;
  padding-left: 10px;
  font-size: 23px;
  padding-right: 5px;
}

#ownerLname, #accNumber{
  color: #6d6c6c;
  padding-left: 10px;
  font-size: 23px;
}

#currBal{
  color: #6fa86f;
  padding-left: 3%;
  font-size: 25px;
  padding-right: 5px;
}

#currBal, #euro{
  color: #6fa86f;
  padding-left: 3%;
  font-size: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color:#eae9e8;
  padding: 1%;
  color: #939393;
}
td{
  padding: 1%;
  text-align: center;
}

#userko{
  width: 30%;
  margin-left: 35%;
  margin-right: 20%;
  margin-top: 10%;
}

#tableUser, th, td{
  background-color: white;
  padding: 3%;
}

#pInfo{
  color: #6d6c6c;
  font-size: 20px;
  background-color: #eae9e8;
  padding: 2%;
  margin-bottom: 0px;
  text-align: center;
}

.smallDivAcc{
   width: 100px;
   display: inline-block;
   background-color: white;
   height:200px;
   margin-left: 3%;
   mergin-right:3%;
   float: left;
}

.credentialsAcc{
  width: 90%;
  height: 80px;
  background-color: #eae9e8;
}

.accOwner{
  width: %;
  height: 30px;
  float: left;
  color: #939393;
  font-size: 20px;
  padding-left: 5%;
}

.numberA{
  color: #6d6c6c;
  padding-left: 10px;
  font-size: 23px;
}

.balanceCur{
  width: 70%;
  height: 20px;
  float: left;
  color: #939393;
  font-size: 20px;
  padding-left: 5%;
  margin-top: 5.5%;
}

.money{
  color: #6fa86f;
  padding-left: 3%;
  font-size: 25px;
  padding-right: 5px;
}

.pay{
  width: 7%;
  height: 12%;
  border-color: #ff7f35;
  float: right;
  border-style: solid;
  margin-top: 5.5%;
  color: #ff7f35;
  font-size: 10px;
  padding-top: 3px;
  padding-left: 3%;
}