<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GL Bank</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='userinfo.css') }}">
    <script>
         var tokenSecret = "{{ token }}";
         var userID = {{ userID }};
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='userinfo.js') }}"></script> 
</head>
<body >
<header>
    <div id="mainHeader">
        <div class="left">
          <div id="btnHome" onclick="showing()">Home</div>
          <div id="btnAccounts" onclick="showingAcc()">Accounts</div>
        </div>

        <div class="right">
         <div class="forAccIcon" onclick="hiding()"></div>
         <div id="btnLogout" onclick="logout()">Log out</div>
        </div>
    </div>
</header>

<div id="mainDiv">
    <div id="firstDiv">
        <div id="firstSmallDiv">
          <div id="credentials">
            <label id="lblName">Owner name: <span id="ownerFname"></span><span id="ownerLname"></span></label>
            <label id="lblAccNum">Account Number:  <span id="accNumber"></span></label>
          </div>
            <hr style="margin-top: 0px;">
            <label id="lblBal"> Current Balance: <span id="currBal"></span><span id="euro">€</span></label>
            <div id="payment" onclick="">Payment</div>
        </div>
        <div id="secondSmallDiv">
          <div id="incExp">
            <label id="lblInc">Incomes</label>
            <label id="lblExp">Expenses</label>
          </div>
          <hr style="margin-top: 0px;">
        </div>
    </div>
    <div id="secondDiv">
      <div id="divTrans">
          <label id="lblTrans"> Transactions</label>
      </div>
      <hr style="margin-top: 0px; margin-bottom: 0px">
      <div id="allTrans" >
        <table id="tbltrans">
          <tr>
            <th>Id Account</th>
            <th>Rec Account</th>
            <th>TransDate</th>
            <th>TransAmount</th>
          </tr>
        </table>
      </div>
    </div>
</div>

<div id="userko">
        <p id="pInfo"> Info about you
        <hr style="margin-top: 0px; margin-bottom: 0px">
        <table id="tableUser">
           <tr>
               <th>Login: </th>
               <td><span id="tblLogin"></span></td>
           </tr>
            <tr>
                <th>First Name: </th>
                <td><span id="tblName"></span></td>
            </tr>
            <tr>
                <th>Last Name: </th>
                <td><span id="tblSurname"></span></td>
            </tr>
            <tr>
                <th>Email: </th>
                <td><span id="tblEmail"></span></td>
            </tr>
        </table>
</div>

<div id="containerAccounts">

</div>
</body>
</html>
